body {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  color: #444444;
}

header {
  background-color: white;
}

h1 {
  font-size: 3rem;
  color: #282a48;
}

.fontImportantText {
  font-family: "Bree Serif", serif;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}
.nav-link {
  text-decoration: none;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav-link:hover::after {
  transform: scaleX(1);
}
.nav-link.active::after {
  transform: scaleX(1);
}

.slider-text {
  font-size: 100px;
  font-weight: bold;
}
.slider-text-job {
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 50px;
}

#htmlCssProgress .progress-bar {
  animation: loadingProgressHtml 3s normal forwards,
    1s linear infinite progress-bar-stripes;
  background-color: rgb(202, 111, 14);
}
#bootstrapProgress .progress-bar {
  animation: loadingProgressBootstrap 3s normal forwards,
    1s linear infinite progress-bar-stripes;
  background-color: purple;
}
#jsProgress .progress-bar {
  animation: loadingProgressJs 3s normal forwards,
    1s linear infinite progress-bar-stripes;
  background-color: rgb(170, 170, 84);
}
#reactProgress .progress-bar {
  animation: loadingProgressReact 3s normal forwards,
    1s linear infinite progress-bar-stripes;
  background-color: rgb(24, 162, 222);
}
#wordpressProgress .progress-bar {
  animation: loadingProgressWordpress 3s normal forwards,
    1s linear infinite progress-bar-stripes;
  background-color: rgb(34, 34, 34);
}
#wordpressProgress .progress-bar {
  animation: loadingProgressWordpress 3s normal forwards,
    1s linear infinite progress-bar-stripes;
  background-color: rgb(34, 34, 34);
}
#designProgress .progress-bar {
  animation: loadingProgressDesign 3s normal forwards,
    1s linear infinite progress-bar-stripes;
  background-color: #7a2ee6;
}
@keyframes loadingProgressHtml {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes loadingProgressBootstrap {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes loadingProgressJs {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes loadingProgressReact {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
@keyframes loadingProgressWordpress {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes loadingProgressDesign {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.downloadButton {
  position: relative;
  height: 90px;
  width: 400px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #111;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(45deg, #03a9f4, #f441a5);
}
.downloadButton:hover {
  animation: shadowAnimation 1s infinite alternate;
  color: white;
}
@keyframes shadowAnimation {
  0% {
    box-shadow: 0 0 20px 10px rgba(3, 169, 244, 0.7);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(244, 65, 165, 0.7);
  }
}

@media (max-width: 768px) {
  div #Home {
    text-align: center;
  }

  .slider-text {
    font-size: 50px;
  }

  .slider-text-job {
    font-size: 20px;
  }

  .img-responsive {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
  }

  #main-nav {
    position: static;
  }

  #Home .py-5,
  #Home .mt-5 e {
    padding-top: 100px !important;
    padding-bottom: 0 !important;
    margin-top: 100px !important;
    margin-bottom: 0 !important;
  }
}
